
.bodypic
{
    
    height: 184px; 
    
}
.bodypic img {
    width: 100%;
    height: 100%;
}

.section2
{
    margin-top: 21px;
    margin-left: 23px;
}
.p1 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin: 0px;
}

.p2
{
    margin-top: 10px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section3
{
    color: #D53C31;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-left: 23px;
}

.tablecontianer
{
    
    height: 100%;
    border-radius: 20px;
    background: #EBEBEB;
    margin-right: 23px;
    margin-left: 23px;
    
}

.tableButtonContainer
{
    height: 36.374px; 
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.tableButtonContainer button

{
    width: 79.678px;
    height: 35.557px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF; 
    border-style: none;
    
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (min-width: 774px)
{
    
    .navbar1{
        height: 61px;
    }

    .bodypic
    {
        
        height: 366px; 
        
    }

    .section2
    {
        margin-left: 43px;
    }
    
    .p1{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    }
    .p2
    {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .section3
    {
        margin-left: 43px;
        color: #D53C31;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .tablecontianer
{
    
    height: 100%;
    border-radius: 20px;
    background: #EBEBEB;
    margin-right: 43px;
    margin-left: 43px;
    margin-top: 43px;
    
}

.tableButtonContainer
{
    height: 36.374px; 
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 49px;
    padding-right: 49px;
}

.tableButtonContainer button

{
    width: 147.463px;
    height: 50.792px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

}